body{
  text-align: center;
}
nav>a{
  background-color: rgb(158, 154, 154);
  padding: 10px;
}
#featured-property>p{
  width: 800px;
  margin: auto;
}
div{
  float: left;
  background-color: red;
  width: 25%;
}
#featured-propety>p{
  font-size: small;
}
  






